<div class="row top-bar">
    <div class="col-2 kinnar-logo-div">
        <img src="/assets/kinnar_logo.svg" class="kinnar-logo">
    </div>
    <div class="col-6">
        <label class="title">Kinnar</label>
    </div>
    <div class="col-3 top-buttom" *ngIf="showButtons">
        <div class="row">
            <div class="col">
                <img src="/assets/notification.svg" class="buttom-svg">
            </div>
            <div class="col">
                <img src="/assets/user.svg" class="buttom-svg">
            </div>
        </div>
    </div>
</div>